
.axit-main-block {
  max-width: 100%;
  height: auto;
  padding: 50px;
  display: flex;
  
}
.axit-main-block {
  background:url("../svg/axit-back.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.axit-main-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height:100%;
  margin-top: 5%;
  margin: 50px 15px 50px 0;
}

.axit-info-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 30px 30px 30px;
}

.axit-logo {
  display: flex;
  margin-bottom: 50px;
  transform: translate(50px, 30px);
}

.axit-logo img {
  transform: scale(1.5)
}
.axit-text-block{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  max-width: 670px;
  margin: auto 0;
}

.axit-page-text {
  margin-bottom: 100px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
}
.axit-page-text::after {
  content: "";
  position: absolute;
  top: 58%;
  left: 9%;
  transform: translateX(-50%);
  width: 170px;
  height: 1px;
  background-color: #ffffff;
}

.axit-footer-text {
  margin-bottom: 50px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.Btn-download {
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}
.Btn-download {
  border: 2px solid #fff;
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  width: 270px;
  height: 60px;
}
.form-axit{
  display: flex;
  flex-direction: column;
  max-width: 470px;
  height: 450px;
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  align-self: flex-start;
  justify-content: space-between;
  margin-top: 60px;
}
.form-axit-content{
  display: flex;
  flex-direction: column;
}
.form-header {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  color: #333333;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  margin-top: 20px;
  
}
.form-header span {
  color: #ec7979;
  padding: 0 6px;
}
.form-axit-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0 50px;
}
.form-axit-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-axit-btn {
  width: 470px;
  height: 60px;
  bottom: 0;
  background-color: #ec7979;
  border: none;
  border-radius: 0px 0px 10px 10px;
}

.form-axit-btn {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.form-axit-content input[type="text"],
.form-axit-content input[type="email"],
.form-axit-content input[type="password"] {
  background-color: none;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  margin-bottom: 20px;
  padding-bottom: 15px;
}

.form-axit-content input[type="text"],
.form-axit-content input[type="email"],
.form-axit-content input[type="password"] {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #bdbdbd;
}
@media screen and (max-width: 1170px){
  .axit-main-content{
    margin: 50px;
  }
  .axit-page-text{
    font-size: 36px;
    line-height: 42px;
  }
  .axit-footer-text{
    font-size: 14px;
    line-height: 20px;
  }
  .Btn-download{
    width: 200px;
  }
  .form-axit{
    width: 400px;
  }
  .axit-page-text::after{
    top:53%;
    left :18%;
  }
}

@media screen and (max-width: 930px){
  .axit-logo{
    display: none;
  }
  .axit-main-content{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
  }
  .axit-info-container{
    justify-content: center;
    align-items: center;
  }
  .axit-text-block{
    text-align: center;
    align-items: center;
  }
  .form-axit{
    margin: auto;
    width: 100%;
    margin-top: 60px;
  }
  .axit-footer-text{
    font-size: 18px;
    line-height: 21px;
  }
  .Btn-download{
    width: 300px;
  }
  .axit-page-text::after{
    top:37%;
    left :50%;
  }
}
@media (max-width: 615px){
  .axit-logo{
    display: none;
  }
  .axit-main-content{
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  .axit-info-container{
    justify-content: center;
    align-items: center;
  }
  .axit-page-text{
    font-size: 36px;
    text-align: center;
  }
  .axit-footer-text{
    font-size: 14px;
    line-height: 17px;
  }
  .axit-page-text::after{
    top:45%;
    left :50%;
  }
  .form-axit{
    margin: auto;
    width: 300px;
    margin-top: 60px;
  }
  .form-header{
    font-size: 16px;
  }
}

@media (max-width: 500px){
  .axit-logo{
    display: none;
  }
  .axit-main-content{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0;
  }
  .axit-info-container{
    justify-content: center;
    align-items: center;
  }
  .axit-page-text{
    font-size: 36px;
    text-align: center;
  }
  .axit-footer-text{
    font-size: 14px;
    line-height: 17px;
  }
  .axit-page-text::after{
    top:40%;
    left :50%;
  }
  .form-axit{
    margin: auto;
    width: 300px;
    margin-top: 60px;
  }
  .form-header{
    font-size: 16px;
  }
}

@media screen and (max-width: 400px){
  .axit-logo{
    display: none;
  }
  .axit-main-content{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0;
    gap: 0;
  }
  .axit-info-container{
    justify-content: center;
    align-items: center;
  }
  .axit-page-text{
    font-size: 36px;
    text-align: center;
  }
  .axit-footer-text{
    font-size: 14px;
    line-height: 17px;
  }
  .axit-page-text::after{
    top:40%;
    left :50%;
  }
  .form-axit{
    margin:  0 auto;
    width: 100%;
    height: 400px;
    margin-top: 60px;
  }
  .form-header{
    font-size: 14px;
  }
  .form-axit-content {
    gap: 5px;
    padding: 15px;
  }
}


