.main-banner-block {
  display: flex;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
  background-color: #f8efef;
  margin-bottom: 30px;
}

.main-banner-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-banner-text-content {
  justify-content: center;
}

.main-banner-content-icon-block {
  display: flex;
  justify-content: center;
}

.banner-icon {
  margin-left: 60px;
  display: flex;
  align-items: center;
}

.main-banner-text-content-header {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.main-banner-text-content-block {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #86878b;
}
#media-for {
  display: none;
}

@media (max-width: 1300px) {
  .main-banner-content {
    justify-content: space-between;
  }
  .main-banner-text-content-header {
    font-size: 20px;
    line-height: 24px;
  }

  .main-banner-text-content-block {
    font-size: 16px;
    line-height: 17px;
  }
  .main-banner-content-icon-block img {
    transform: scale(0.9);
  }
}
@media (max-width: 1250px) {
  .main-banner-content-icon-block img {
    transform: scale(0.8);
  }
  .banner-icon {
    margin-left: 40px;
  }
}

@media (max-width: 1120px) {
  .banner-icon {
    margin-left: 30px;
  }
}

@media (max-width: 1050px) {
  .main-banner-content {
    justify-content: space-between;
  }

  .main-banner-text-content-header {
    font-size: 18px;
    line-height: 24px;
  }

  .main-banner-text-content-block {
    font-size: 14px;
    line-height: 17px;
  }
  .main-banner-content-icon-block img {
    transform: scale(0.8);
  }
  .banner-icon {
    margin-left: 20px;
  }
}

@media (max-width: 930px) {
  .main-banner-content {
    justify-content: space-between;
  }

  .main-banner-text-content-header {
    font-size: 16px;
    line-height: 22px;
  }

  .main-banner-text-content-block {
    font-size: 12px;
    line-height: 15px;
  }
  .main-banner-content-icon-block img {
    transform: scale(0.6);
  }
  .banner-icon {
    margin-left: 5px;
  }
}

@media (max-width: 830px) {
  .main-banner-content {
    flex-direction: column;
  }
  .main-banner-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #media-for {
    display: block;
  }
  .main-banner-text-content-block {
    display: flex;
    text-align: center;
  }
  .main-banner-content-icon-block img {
    transform: scale(0.7);
  }
  .banner-icon {
    margin-left: 25px;
  }
  .main-banner-text-content-header {
    font-size: 20px;
    line-height: 24px;
  }

  .main-banner-text-content-block {
    font-size: 16px;
    line-height: 17px;
  }
}

@media (max-width: 600px) {
  .main-banner-content {
    flex-direction: column;
  }
  .main-banner-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #media-for {
    display: block;
  }
  .main-banner-text-content-block {
    display: flex;
    text-align: center;
  }
  .main-banner-content-icon-block img {
    transform: scale(0.5);
  }
  .banner-icon {
    margin-left: 20px;
  }
  .main-banner-text-content-header {
    font-size: 18px;
    line-height: 24px;
  }

  .main-banner-text-content-block {
    font-size: 14px;
    line-height: 17px;
  }
}

@media (max-width: 530px) {
  .banner-icon {
    margin-left: 15px;
  }
  .main-banner-content-icon-block img {
    transform: scale(0.4);
  }
  .banner-icon {
    margin-left: 10px;
  }
}

@media (max-width: 460px) {
  .main-banner-content-icon-block img {
    transform: scale(0.4);
  }
  .banner-icon {
    margin-left: 1px;
  }
}
@media (max-width: 400px) {
  .banner-icon {
    width: 45px;
    height: 45px;
  }
  .banner-icon img{
    width: 100%;
    height: 100%;
  }
  
}