.contact-us-main-block {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.contact-us-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 70px;
}

.contact-us-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.contact-us-header::after {
  content: "";
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
  width: 170px;
  height: 1px;
  background-color: #ec7979;
}

.contact-us-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.contact-us-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #86878b;
}
.contact-us-button {
  margin-bottom: 50px;
}

.contact-us-btn {
  margin: 0 auto;
  display: flex;
  width: 370px;
  height: 60px;
  justify-content: center;
  align-items: center;
  background-color: #ec7979;
  border: none;
}

.contact-us-btn {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
}

.contact-us-form{
  display: flex;
  flex-direction: column;
}

.contact-us-form-content{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap:2%;
}
.contact-us-form-input-block{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 250px;
}

.textarea-contact-us{
  width: 30%;
  height: 250px;
}

.contact-us-form input[type="text"],
.contact-us-form input[type="email"],
.contact-us-form input[type="password"] {
  background-color: none;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  margin-bottom: 50px;
  padding-bottom: 30px;
}

.contact-us-form textarea {
  background-color: none;
  border: none;
  border-bottom: 1px solid #bdbdbd;
}

.contact-us-form input[type="text"],
.contact-us-form input[type="email"],
.contact-us-form input[type="password"],
.contact-us-form textarea {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #bdbdbd;

}

@media (max-width:1024px){
  .contact-us-header{
    font-size: 24px;
  }
  .contact-us-text{
    font-size: 14px;
  }
  .contact-us-btn{
    width: 320px;
  }
}

@media (max-width:600px){
  .contact-us-header{
    font-size: 24px;
  }
  .contact-us-text{
    font-size: 14px;
    text-align: center;
  }
  .contact-us-btn{
    width: 290px;
  }
  .contact-us-form-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-us-form-input-block{
    margin-bottom: 20px;
    width: 70%;
  }
  .textarea-contact-us{
    width: 70%;
    text-align: left;
  }
}