.contact-us-main-block {
  max-width: 1170px;
  height: auto;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #c6cbcd;
  border-top: none;
  border-bottom: none;
}

.contact-us-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 70px;
}

.contact-us-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.contact-us-header::after {
  content: "";
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
  width: 170px;
  height: 1px;
  background-color: #ec7979;
}

.contact-us-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.contact-us-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #86878b;
}

.contact-us-form {
  display: flex;
  align-items: center;
  max-width: 850px;
}

.form2 {
  display: flex;
  flex-direction: column;
  height: 400px;
  margin: 0 auto;
}
.form-contact-us-content {
  display: flex;
  flex-direction: column;
}
.Name-Message-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.contact-us-input-name input {
  width: 400px;
  margin-right: 30px;
}

.contact-us-input-message input {
  width: 400px;
}

.email-pass-container {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.textarea-contact-us {
  display: flex;
  position: absolute;
  width: 400px;
  height: 200px;
}

.textarea-contact-us textarea {
  width: 100%;
  height: 100%;
}

.form2 input[type="text"],
.form2 input[type="email"],
.form2 input[type="password"],
.form2 textarea {
  background-color: none;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  margin-bottom: 50px;
  padding-bottom: 20px;
}

.form2 input[type="text"],
.form2 input[type="email"],
.form2 input[type="password"],
.form2 textarea {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #bdbdbd;
}

.contact-us-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.contact-us-btn {
  margin: 0 auto;
  display: flex;
  width: 370px;
  height: 60px;
  justify-content: center;
  align-items: center;
  background-color: #ec7979;
  border: none;
}

.contact-us-btn {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
}
