  .main-block {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    border-left: 1px solid #C6CBCD;
    border-right: 1px solid #C6CBCD;
    text-align: center;
  }
  
  .image-container {
    position: absolute;
    top: 0;
    right: 0;
  }

  .image-container img {
    width: 470px;
    height: 500px;
  }
  
  .first-block {
    display: flex;
    align-items: center;
  }
  
  .firstPage {
    position: relative;
    z-index: 1;
    margin-left: 120px;
    height: auto;
  }
  
  .header{
    padding-right: 50px;
    margin-top: 0;
    margin-right: 30px;
    margin-bottom:27px;
    text-align: center;
  }


  .header h1{
    max-width: 570px;
    max-height: auto;
    margin-top: 50px;
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
  }


.text-block {
    margin-right: 40px;
    max-width: 570px;
    max-height: auto;
    padding-right: 30px;
    margin-bottom:27px;
    margin: 0 auto;
  }

  .text-block p{
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: left;
  }

.BtnDownload{
  margin-left: 20px;
  width: 270px;
  height: 58px;
  float: left;

}
  .BtnDownload{
    background: #EC7979;
    color:#FFFFFF;
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    border:0px;
  }