.main-block {
  display: flex;
  flex-direction: column;
  max-width: 1170px;
  padding: 0px 15px 0px 15px;
  height: 100%;
  margin: 0 auto;
}
.tab-block{
  width: calc(100%/3);
  text-align: center;
  gap:25%;
}
.tab-block {
  display: flex;
  flex-direction: row;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 19px;
  max-width: 700px;
  height: 40px;
  padding: 0;
  margin-bottom: 0;
}


.first-block {
  border: 1px solid #c6cbcd;
  display: flex;
}
.firstPage{
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  margin: 30px 30px 50px 100px;
}
.header{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  margin-top: 5% ;
  margin-bottom: 10% ;
}

.text-block {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
}

.BtnDownload {
  margin-top: 30px;
  width: 270px;
  height: 58px;
  float: left;
}
.BtnDownload {
  background: #ec7979;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  border: 0px;
  float: left;
}

.image-container img {
  width: 100%;
  height: auto;
}

@media (max-width:1100px) {
  .tab-block{
    width: 100%;
  }
  .first-block {
    justify-content: space-between;
  }
  .header {
    font-size: 24px;
    line-height: 33px;
    height: 89px;
  }
  .text-block {
    font-size: 14px;
    line-height: 16px;
  }
  .text-block br {
    display: none;
  }
  #first-alw{
    display: flex;
  }
  .BtnDownload {
    width: 230px;
  }
}
@media (max-width: 940px) {
  .image-container {
    display: none;
  }
  .text-block {
    max-width: 100%;
  }
  .tab-with-border {
    width: calc(100%/3);
  }
  .firstPage {
    align-items: center;
    text-align: center;
    margin: 30px;
  }
  .header {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 2%;
  }
}