.main-header-block{
    max-width: 1170px;
    height: auto;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #000;
    /* border: 1px solid #C6CBCD;
    border-top: none ;
    border-bottom: none ; */
}

.main-header-content{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.main-header-name{
    margin-left: 10%;
}

.main-header-button-block{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10%;
    width: calc(100%/3);
    height: 100%;
}

.header-button{
    background-color: transparent;
    border: none;
    height: 100%;
    width: auto;
}

.header-button{
    color: #fff;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
}