.second-block {
    padding-top: 200px;
    display: flex;
    
  }
.second-page-header-main{
    position: relative;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    margin-bottom: 110px;
}


  .second-page-header-main::after {
    content: "";
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    width: 170px;
    height: 1px;
    background-color: #EC7979;
  }



.second-page-centre-text{
    color:#86878B;
    justify-content: center;
    text-align: center;
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    margin-bottom: 110px;
    
}

.main-info-block{
    max-width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.info-block {
    
    padding: 0 15px 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 30px;
    
}

.info-block-header{
    margin-top: 40px;
    justify-content: center;
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
}

.info-block-content {
    margin-top: 20px;
    justify-content: left;
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
}