.main-tab-block {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    border-bottom: none;
    height: auto;
}

.tab-block{
    width: 50%;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    position: relative;
    
}
.tab-block{
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #333333;
}

.tab-with-border {
    width: 160px;
    height: auto;
}
  
  .tab-without-border {
    width: 160px;
    height: auto;
  }

  @media (max-width: 1200px) {
    .tab-block{
        width: 500px;
    }
  }
  @media (max-width: 600px) {
    .tab-block{
        width: 400px;
    }
  }
  @media (max-width: 00px) {
    .tab-block{
        width: 200px;
    }
  }